<div align="center">
  Name : <%=@user.name%><br>
  Username : <%=@user.username%><br>
  Email : <%=@user.email%><br>
  Albums : <%@albums.each do |album| %>
    <%=album.name%><br>
  <%end%>
</div>


