<div class="container">
  <h1>Welcome to Flicked!</h1>
  <p>Hello, world!</p>
  <table>
    <tr>
      <%@photos.each do |photo| %>
      <td><img src="<%= photo.source_url %>"></td>
      <%end%>
    </tr>
  </table>

</div>
